:root {
    --color-black: black;
}

.clock {
    width: 200px;
    height: 200px;
    border: 5px solid var(--color-black);
    border-radius: 50%;
    position: relative;
    margin: 0px auto;
    margin-top: 50px;
}


.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-weight: 700;
    font-size: 18px;
}

.clock .one {
    --rotation: 30deg;
}

.clock .two {
    --rotation: 60deg;
}

.clock .three {
    --rotation: 90deg;
}

.clock .four {
    --rotation: 120deg;
}

.clock .five {
    --rotation: 150deg;
}

.clock .six {
    --rotation: 180deg;
}

.clock .seven {
    --rotation: 210deg;
}

.clock .eight {
    --rotation: 240deg;
}

.clock .nine {
    --rotation: 270deg;
}

.clock .ten {
    --rotation: 300deg;
}

.clock .eleven {
    --rotation: 330deg;
}

.clock .arrow {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}


.clock .arrow.second {
    width: 3px;
    height: 40%;
    background-color: red;
}

.clock .arrow.minute {
    width: 6px;
    height: 40%;
    background-color: var(--color-black);
}

.clock .arrow.hour {
    width: 6px;
    height: 30%;
    background-color: var(--color-black);
}


.times {
    margin-top: 62%;
    opacity: 0.5;
}